{% from "shuup/admin/macros/general.jinja" import content_block %}
{% set table_item_form = form[form_def.name] %}

{% macro render_table_item_form(f, item_form, idx, is_image_form) %}
    {% for h in f.hidden_fields() %}
        {{ h|safe }}
    {% endfor %}
    <tr>
        <td>{{ bs3.field(f.region, render_label=False, form_group_class="") }}</td>
        <td>{{ bs3.field(f.start_weight, set_placeholder=False, render_label=False, form_group_class="") }}</td>
        <td>{{ bs3.field(f.end_weight, set_placeholder=False, render_label=False, form_group_class="") }}</td>
        <td>{{ bs3.field(f.price, set_placeholder=False, render_label=False, form_group_class="") }}</td>
        <td>{{ bs3.field(f.delivery_time, set_placeholder=False, render_label=False, form_group_class="") }}</td>
    </tr>
{% endmacro %}

{% call content_block(_("Prices"), "fa-usd") %}
    {{ table_item_form.management_form }}
    <table class="table table-hover table-bordered table-condensed table-striped">
        <tbody>
        <tr>
            <th class="col-xs-4">{{ _("Region") }}</th>
            <th class="col-xs-2">{{ _("Start weight") }}</th>
            <th class="col-xs-2">{{ _("End weight") }}</th>
            <th class="col-xs-2">{{ _("Price") }}</th>
            <th class="col-xs-2">{{ _("Delivery time") }}</th>
        </tr>

        {% for f in table_item_form %}
            {{ render_table_item_form(f, table_item_form, loop.index) }}
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center"><em>{{ _("To add more itens, please save the current ones. ") }}</em></div>

{% endcall %}
